<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head.ejs') %>

    <body>
        <header class="main-header">
            <%- include('layouts/navigation.ejs') %>
        </header>
        <main>
            <h1>Some error occurred!</h1>
            <p>We are working on it, sorry for the inconvinience</p>
        </main>
    </body>
</html>
