.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control textarea,
.form-control input {
    display: block;
    width: 100%;
}

.form-control textarea,
.form-control input {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
    resize: none;
    padding: 4px;
}

.form-control textarea:focus,
.form-control input:focus {
    outline-color: #f07b0e;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font: inherit;
    border: 1px solid #6200ff;
    color: #6200ff;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #6200ff;
    color: white;
}

.form-control textarea.invalid,
.form-control input.invalid {
    border-color: red;
}
